@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
}

header{
    padding-top: 1.7em;
    border-bottom: .05px solid #b7b9bb59;
}

.search-div {
    top: 0;
    width: 100%;
    display: flex;
}

.search-div a {
    text-decoration: none;
}

.search-div > * {
    flex-basis: 100%;
}

.first {
    display: flex;
    justify-content: flex-start;
}

.logo {
    padding: 12px 30px 0 10px;
}

.search-bar{
    font-size: 16px;
    font-family: arial,sans-serif;
    padding: 12px 30px 12px 30px;
    outline: 0;
    width: 550px;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
    color: rgba(0,0,0,.87);
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
}

.thing {
    background: url(https://ssl.gstatic.com/gb/images/i2_2ec824b0.png) -132px -38px / 528px 68px;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    margin-right: 15px;
    opacity: 0.55;
    vertical-align: middle;
    width: 30px;
    padding: 15px 15px 15px 15px;
}   

.top-button:hover {
    text-decoration: none;
}

.second {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}

.top-button{
    background: #4285f4;
    margin-left: 10px;
    margin-right: 20px;
    padding: 7px 13px 7px 13px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

.options {
    display: flex;
    gap: 2em;
    padding-top: 2em;
    padding-left: 15%;
    padding-bottom: 1em;
}

.options a{
    text-decoration: none;
    color: #5f6368;

}

main {
    padding-left: 15%;
    width: 50%;
}

main a{
    text-decoration: none;
    font-size: 20px;
    color: #1a0dab;
}


.results p {
    color: #4d5156;
}

.result-time {
    color:#70757a;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

footer {
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer a {
    color: #70757a;
    text-decoration: none;
}

nav{
    background: #f2f2f2;
    width: 100%;

}

.top {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 15%;

}

.bottom {
    display: flex;
    gap: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 15%;
    border-top: 1px solid #94949457;
}